@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

:root {
  --gradient: hsl(6, 100%, 80%) to hsl(335, 100%, 65%);
  --paleBlue: hsl(243, 100%, 93%);
  --grayishBlue: hsl(229, 7%, 55%);
  --darkBlue: hsl(228, 56%, 26%);
  --veryDarkBlue: hsl(229, 57%, 11%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
}

main {
  background-image: url("./images/bg-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 90%;
  flex-basis: 100%;
}

.component {
  background-color: var(--darkBlue);
  padding: 2rem;
  border-radius: 0.5rem;
}

.component-one {
  border-top-right-radius: 5rem;
  margin-bottom: 1.5rem;
}

.fylo {
  margin-bottom: 1.5rem;
}

.box {
  display: flex;
  justify-content: flex-start;
}

.item {
  padding: 0.7rem;
  background-color: var(--veryDarkBlue);
  border-radius: 0.5rem;
  margin-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.5s;
}

.item:hover {
  background-color: var(--paleBlue);
}

.component-two p {
  color: var(--paleBlue);
  margin-bottom: 1rem;
  font-size: 0.875rem;
}

.component-two p span {
  font-weight: 700;
}

.outer {
  padding: 0.3rem;
  margin-bottom: 0.5rem;
  background-color: var(--veryDarkBlue);
  border-radius: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.outer .inner {
  background-image: linear-gradient(
    to right,
    hsl(6, 100%, 80%),
    hsl(335, 100%, 65%)
  );
  padding: 0.4rem 0;
  border-radius: 0.6rem;
  width: 80%;
}

.outer .circle {
  background-color: var(--paleBlue);
  padding: 0.35rem;
  border-radius: 50%;
  margin-left: -0.9rem;
}

.usage {
  display: flex;
  justify-content: space-between;
}

.usage p {
  font-weight: 700;
}

.component-three {
  background-color: white;
  width: 50%;
  color: var(--grayishBlue);
  padding: 1rem;
  text-align: center;
  border-radius: 0.8rem;
  margin: 0 auto;
  margin-top: -1rem;
  font-size: 0.8rem;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

.amount {
  font-weight: 700;
  font-size: 2rem;
  margin-right: 0.5rem;
  color: var(--veryDarkBlue);
}

/***** MEDIA QUERIES  *****/

@media (min-width: 23.5rem) {
  .container {
    max-width: 21.094rem;
  }
}

@media (min-width: 75rem) {
  main {
    background-color: var(--veryDarkBlue);
    background-image: url("./images/bg-desktop.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom -30% left 0;
    min-height: 100vh;
    flex-direction: row;
    align-items: center;
  }

  .container {
    max-width: 55rem;
    flex-basis: 100%;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    margin: 10rem auto;
  }

  .component-one {
    flex-basis: 40%;
    margin-bottom: 0;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 200px;
  }

  .item:hover {
    animation: upDown 0.5s ease-in-out alternate infinite;
    animation-fill-mode: forwards;
  }

  @keyframes upDown {
    0% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-15px);
    }
  }

  .component-two {
    flex-basis: 58%;
    margin-bottom: 0;
  }

  .component-three {
    position: absolute;
    top: 0;
    right: 3rem;
    width: 200px;
    border-bottom-right-radius: 0;
  }

  .component-three::after {
    content: "";
    width: 30px;
    height: 30px;
    background-color: white;
    position: absolute;
    bottom: -0.7rem;
    right: 0rem;
    transform: skewY(50deg);
  }
}

@media (min-width: 90rem) {
  main {
    /* background-size: contain; */
    background-position-y: bottom;
    background-size: 100% 50%;
  }
}
