@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

:root {
  --gradient: hsl(6, 100%, 80%) to hsl(335, 100%, 65%);
  --paleBlue: hsl(243, 100%, 93%);
  --grayishBlue: hsl(229, 7%, 55%);
  --darkBlue: hsl(228, 56%, 26%);
  --veryDarkBlue: hsl(229, 57%, 11%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  background-image: url("./images/bg-mobile.png");
  background-repeat: no-repeat;
}

.container {
  /* outline: 1px solid black; */
  max-width: 90%;
  margin: 5rem auto;
}

.component {
  background-color: var(--darkBlue);
  padding: 2rem;
  border-radius: 0.5rem;
}

.component-one {
  /* outline: 1px solid white; */
  border-top-right-radius: 5rem;
  margin-bottom: 1.5rem;
}

.fylo {
  margin-bottom: 1.5rem;
}

.box {
  /* outline: 1px solid white; */
  display: flex;
  justify-content: flex-start;
}

.item {
  padding: 0.7rem;
  background-color: var(--veryDarkBlue);
  border-radius: 0.5rem;
  margin-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.component-two p {
  color: var(--paleBlue);
  margin-bottom: 1rem;
  font-size: 0.875rem;
}

.component-two p span {
  font-weight: 700;
}

.outer {
  /* outline: 1px solid white; */
  padding: 0.3rem;
  margin-bottom: 0.5rem;
  background-color: var(--veryDarkBlue);
  border-radius: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.outer .inner {
  background-image: linear-gradient(
    to right,
    hsl(6, 100%, 80%),
    hsl(335, 100%, 65%)
  );
  padding: 0.4rem 0;
  border-radius: 0.6rem;
  width: 80%;
}

.outer .circle {
  background-color: var(--paleBlue);
  padding: 0.35rem;
  border-radius: 50%;
  margin-left: -0.9rem;
}

.usage {
  display: flex;
  justify-content: space-between;
}

.usage p {
  font-weight: 700;
}

.component-three {
  background-color: var(--paleBlue);
  width: 50%;
  color: var(--grayishBlue);
  padding: 1rem;
  text-align: center;
  border-radius: 0.8rem;
  margin: 0 auto;
  margin-top: -1rem;
  font-size: 0.8rem;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

.amount {
  font-weight: 700;
  font-size: 2.5rem;
  margin-right: 0.5rem;
  color: var(--veryDarkBlue);
}
